:root {
  --primary-color: #ccd2e0;
  --secondary-color: #6c7184;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --name-font-family: "Rock Salt", sans-serif;
}

body {
  font-family: var(--default-font-family);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2,
h3,
h4 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
.bg-mine {
  background-color: var(--primary-color);
}

.hero {
  text-align: center;
  padding: 160px 20px;
}
.hero h1 {
  font-size: 86px;
  line-height: 1.5;
}

.hero p {
  font-size: 36px;
  margin: 0;
}
.hero h3 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 36px;
}
.btn {
  font-family: var(--default-font-family);
  font-weight: 500;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.name {
  font-family: var(--name-font-family);
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.text-center {
  text-align: center !important;
}
.project-description {
  padding: 30px 60px;
}
.justify-content-between {
  justify-content: space-between !important;
}
.logo {
  max-height: 25px;
}
.btn-mine {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.content-container {
  padding: 100px 20px;
}
.content {
  margin: 30px;
}
.content h1 {
  font-size: 62px;
  line-height: 80px;
}
.content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}
#work {
  font-size: 18px;
  padding-top: 60px;
  font-weight: normal;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}
.content p {
  font-size: 16px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px !important;
    line-height: 56px;
  }

  h3,
  .hero p {
    font-size: 28px !important;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
